#--------------------------------------------------------------------
# COMPOSE
#--------------------------------------------------------------------
COMPOSE_PROJECT_NAME=dealsach

NGINX_HTTP_PORT=80
FRONTEND_PORT=5173
PHPMYADMIN_PORT=8080

#--------------------------------------------------------------------
# CODEIGNITER RUNTIME
#--------------------------------------------------------------------
CI_ENVIRONMENT=development

app.baseURL='http://localhost/'
app.forceGlobalSecureRequests=false
app.CSPEnabled=false

#--------------------------------------------------------------------
# CORS
#--------------------------------------------------------------------
cors.allowedOrigins=http://localhost:5173,https://dealsach.eu.cc

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
DB_HOST=db
DB_DATABASE=dealsach_db
DB_USERNAME=dealsach_user
DB_PASSWORD=change_me_db_password
DB_ROOT_PASSWORD=change_me_root_password
DB_PORT=3306

#--------------------------------------------------------------------
# MAIL SERVER
#--------------------------------------------------------------------
SMTP_ADDRESS=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
