@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body,
#root {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}
